* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: black;
    color: white;
    height: 100vh;
}

#container {
    display: block;
    margin: 0 auto;
    margin-top: 7%;
    width: 40%;
    height: 75vh;
    background-color: #18202c;
    padding: 30px;
    padding-left: 60px;
    border-radius: 10px;
}

#data {
    height: 4vh;
}

.secondSentence {
    color: rgb(4, 156, 4);
    margin-bottom: 10px;

}

h2 {
    font-family: Karla;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}

p {
    margin-bottom: 4vh;
}

#passw-generator {
    margin-bottom: 6%;
    text-align: center;
}

hr {
    margin: auto;
    border: 2px solid rgb(10, 10, 145);
    margin-bottom: 4vh;
}

button {
    display: inline;
    margin: left;
    border: none;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    font-weight: bold;
    width: 40%;
    margin-bottom: 12px;
    border-radius: 5px;
    background-color: green;
}

#passw1 {
    padding: 3%;
    margin-right: 3%;
    background-color: rgb(51, 51, 83);
    color: rgb(8, 197, 8);
}

#passw2 {
    padding: 3%;
    background-color: rgb(51, 51, 83);
    color: rgb(8, 197, 8);
}

.secondaryButtons {
    padding: 1%;
    margin-right: 3%;
    background-color: rgb(51, 51, 83);
}

.resetButton {
    display: block;
    margin-left: 22%;
    padding: 2%;
    margin-right: 3%;
    background-color: rgb(51, 51, 83);
}

@media only screen and (max-width: 1112px) {

    #container {
        width: 50%;
        height: 70%;
    }
}

@media only screen and (max-width: 915px) {

    #container {
        width: 60%;
        margin-top: 10%;
    }
}

@media only screen and (max-width: 732px) {

    #container {
        width: 70%;
        height: 66%;
        margin-top: 12%;
    }
}

@media only screen and (max-width: 640px) {

    #container {
        width: 80%;
        margin-top: 15%;
    }
}

@media only screen and (max-width: 550px) {

    #container {
        width: 90%;
        margin-top: 20%;
        padding: 20px;
        padding-left: 40px;
    }
}

@media only screen and (max-width: 460px) {

    #container {
        width: 96%;
        margin-top: 30%;
        padding: 10px;
        padding-left: 30px;
    }
    h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 420px) {

    #container {
        width: 96%;
        margin-top: 30%;
        padding: 10px;
        padding-left: 30px;
    }
    h2 {
        font-size: 20px;
    }

    button {
        font-size: 0.6rem;
    }
}





